body {
    display: grid;
    
    grid-template-columns: 2fr 1fr;

    border: solid 1px blue;

}

.difficulty{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.miniBoard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid 1px black;

}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 10rem;
    height: 10rem;
}

div{
    width: 3rem;
    height: 3rem;
    border:solid 1px black;
    text-align: center;
    font-size: 2rem;
    margin: auto;
}